<ion-app>
    <ion-menu side="start" menuId="first" contentId="main" type="push">
      <ion-header>
        <ion-toolbar id="menu">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/home">
            <!-- <ion-icon name="information-circle"></ion-icon> -->
              Scanner
          </ion-item>
        </ion-menu-toggle>  

        <ion-menu-toggle>
          <ion-item routerLink="/apiclient">
            <!-- <ion-icon name="information-circle"></ion-icon> -->
              Sugerencias
          </ion-item>
        </ion-menu-toggle>

        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet  id="main"></ion-router-outlet>
  </ion-app>
  