
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/login" text="Iniciar Sesión"></ion-back-button>
  </ion-buttons>


<ion-content>
  <ion-card-content>
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="login.Usuario"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="login.Password"></ion-input>
    </ion-item>

    
    <ion-item>
      <ion-label position="floating">Repetir Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="login.repetirPassword"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col size="12">
        <ion-button color="warning" shape="block" (click)="registrar()">Registrarse</ion-button>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-content>
